<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://baidu.com" class="link" target="_blank">百度</a> |
            <a href="https://taobao.com" class="link" target="_blank">淘宝</a> |
            <a href="https://zhihu.com" class="link" target="_blank">知乎</a> |
            <a href="http://sina.com" class="link" target="_blank">新浪</a>
        </div>
        <p class="copyright">
            Copyright © 2017 mmall.com All Right Reserved
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
